[submodule "project/Advanced-Tiled-Loader"]
	path = project/Advanced-Tiled-Loader
	url = https://github.com/Kadoba/Advanced-Tiled-Loader.git
[submodule "project/hump"]
	path = project/hump
	url = https://github.com/vrld/hump.git
